# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
# vendor/

# IDE and editor files
.DS_Store
.idea/
.vscode/

# Project-specific
TODO.md
logs.txt
.dockerignore
fly.toml

# Environment variables
.env

# Node (not part of Go project)
node_modules/
package.json
package-lock.json

# OpenCode
.opencode/
